# IPython Notebook checkpoints
*.ipynb_checkpoints*

# .pyc files
*.pyc

# ignore the playground IPython Notebook(s)
informative-snps/playground.ipynb
*playground.ipynb

# database files (they tend to be large)
*.db
